# Database
DB_HOST=localhost
# Docker: DB_HOST=db
DB_PORT=5432
DB_NAME=datahub
DB_USER=datahub
DB_PASSWORD=very_secret_db_password

# Backend
BACKEND_HOST=localhost
# Docker: BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

# Frontend
FRONTEND_HOST=localhost
# Docker: FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=3210

# Secrets
API_SECRET=very_secret_api_key
SECRET_KEY=very_secret_secret_key

# Security / API
ALGORITHM=ES256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Cookie auth
COOKIE_SECURE=False
# Prod: COOKIE_SECURE=True
COOKIE_SAMESITE=lax
# Prod: COOKIE_SAMESITE=strict

# CORS and API
CORS_ORIGINS=http://${FRONTEND_HOST}:${FRONTEND_PORT}
# Docker: CORS_ORIGINS=http://localhost:${FRONTEND_PORT}
API_URL=http://${BACKEND_HOST}:${BACKEND_PORT}
# Docker: API_URL=http://localhost:${BACKEND_PORT}

# Vite
VITE_API_BASE_URL=${API_URL}
VITE_ALLOWED_HOSTS=["localhost"]

# Super admin instance account
ROOT_EMAIL=admin@example.com
ROOT_PASSWORD=very_secret_root_password
ROOT_FIRST_NAME=Admin
ROOT_LAST_NAME=Root
