{
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 3
      }
    },
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
