{% extends "includes/base_public.html" %}
{% block title %}{{_("Data - ")}}{% endblock %}
{% set active_page = 'data' %}

{% block content %}
<h1>{{_("Publicly available data")}}</h1>
<p class="lead">{{_("This data is available for further researches.")}}</p>
{% if config["DEMO"] %}
<p>
  <em>{{_("Data cannot be downloaded in demo mode.")}}</em>
</p>
{% endif %}
<div class="container text-start">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <dl class="row">
        <dt class="col-sm-4">{{_("All questions")}}</dt>
        <dd class="col-sm-8">
          <a class="btn btn-outline-primary{% if config['DEMO'] %} disabled{% endif %}" href="?table=questions_all">
            <i class="fa-solid fa-magnifying-glass"></i>
            {{_("Preview")}}
          </a>
          <a class="btn btn-outline-primary{% if config['DEMO'] %} disabled{% endif %}" href="?download=questions_all"
             target="_blank">
            <i class="fa-solid fa-download"></i>
            {{_("Download")}}
          </a>
        </dd>

        <dt class="col-sm-4">{{_("All answers")}}</dt>
        <dd class="col-sm-8">
          <a class="btn btn-outline-primary{% if config['DEMO'] %} disabled{% endif %}" href="?table=answers_all">
            <i class="fa-solid fa-magnifying-glass"></i>
            {{_("Preview")}}
          </a>
          <a class="btn btn-outline-primary{% if config['DEMO'] %} disabled{% endif %}" href="?download=answers_all"
             target="_blank">
            <i class="fa-solid fa-download"></i>
            {{_("Download")}}
          </a>
        </dd>

        <dt class="col-sm-4">{{_("Global questions")}}</dt>
        <dd class="col-sm-8">
          <a class="btn btn-outline-primary{% if config['DEMO'] %} disabled{% endif %}" href="?table=questions_global">
            <i class="fa-solid fa-magnifying-glass"></i>
            {{_("Preview")}}
          </a>
          <a class="btn btn-outline-primary{% if config['DEMO'] %} disabled{% endif %}" href="?download=questions_global"
             target="_blank">
            <i class="fa-solid fa-download"></i>
            {{_("Download")}}
          </a>
        </dd>
      </dl>
      <hr/>
      <dl class="row">
        {% for year in years %}
        <dt class="col-sm-4">{{_("GSB ")}}{{year}}</dt>
        <dd class="col-sm-8">
          <a class="btn btn-outline-primary{% if config['DEMO'] %} disabled{% endif %}" href="?table=gsb{{year}}">
            <i class="fa-solid fa-magnifying-glass"></i>
            {{_("Preview")}}
          </a>
          <a class="btn btn-outline-primary{% if config['DEMO'] %} disabled{% endif %}" href="?download=gsb{{year}}"
             target="_blank">
            <i class="fa-solid fa-download"></i>
            {{_("Download")}}
          </a>
        </dd>
        {% endfor %}
      </dl>
    </div>
    <div class="col-3"></div>
  </div>
</div>
{% endblock %}
