{% extends "includes/base.html" %}
{% block title %}Liste - Questions par étude{% endblock %}

{% block css %}
<link href="{{url_for('static', filename='css/datatables.min.css')}}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<h1 class="mt-4">Liste - Questions par enquête</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Dashboard</li>
  <li class="breadcrumb-item">Questions</li>
  <li class="breadcrumb-item">Questions par enquête</li>
  <li class="breadcrumb-item active">Liste</li>
</ol>

<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
  </div>
  <div class="card-body">
    <table id="datatable" class="table table-sm table-striped table-hover">
      <thead>
      <tr>
        <th>Code</th>
        <th>Label</th>
        <th>Enquête</th>
        <th>#&nbsp;Réponses</th>
        <th>Question globale associée</th>
      </tr>
      </thead>
      <tbody>
      {% for item in liste %}
      <tr>
        <td><span style="display:none;">{{item.code_for_ordering}}</span>{{item.code}}</td>
        <td>{{item.label}}</td>
        <td>{{item.survey}}</td>
        <td>{{item.num_answers or "Aucune"}}</td>
        <td>{{item.question_global or "Aucune"}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/datatables.min.js')}}"></script>
<script>
    window.addEventListener('DOMContentLoaded', event => {
        let table = new DataTable('#datatable', {
            layout: {
                topStart: {
                    buttons: [
                        'copy', 'excel', 'pdf'
                    ]
                }
            },
            order: [[null, null]]
        });
    });

</script>
{% endblock %}
