<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}IDHEAP Data Hub</title>

  <link rel="icon" type="image/png" href="{{url_for('static', filename='img/idheap-dh.png')}}"/>

  <link rel="canonical" href="http://dcsrs-idheap-dh.ad.unil.ch/">

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
  {% block css %}{% endblock %}
  <script src="{{url_for('static', filename='js/fontawesome.all.js')}}"></script>
</head>
<body class="d-flex h-100 text-center text-dark bg-light">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('map')}}">
          <img src="{{url_for('static', filename='img/idheap-dh.png')}}" height="28"
               class="d-inline-block align-text-top">
          IDHEAP Data Hub
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link{{' active' if active_page == 'map' }}" href="{{url_for('map')}}">{{_("Home")}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{' active' if active_page == 'about' }}" href="{{url_for('about')}}">{{_("About")}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{' active' if active_page == 'data' }}" href="{{url_for('data')}}">{{_("Data")}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dashboard')}}"><i class="fa-solid fa-lock"></i>
                {{_("Dashboard")}}</a>
            </li>
          </ul>
        </div>
        <div class="me-auto">
          {% set langdict = {"en": ("🇬🇧", "English", ""), "fr": ("🇫🇷", "Français", ""), "de": ("🇩🇪", "Deutsch", "
          disabled"), "it": ("🇮🇹", "Italiano", " disabled"), "rm": ("🇷🇲", "Rumantsch", " disabled")} %}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{langdict[get_locale()][0]}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for code, cont in langdict.items() %}
            {% if cont[2] == "" and code != get_locale() %}
            <li><a class="dropdown-item{{cont[2]}}" href="?lang={{code}}">{{cont[0]}} {{cont[1]}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="px-3">
    {% block content %}{% endblock %}
  </main>

  <footer class="mt-auto">
    <p>{{_("Code available on ")}}<a href="https://github.com/Amustache/SecCom" target="_blank">GitHub</a>.
    </p>
  </footer>
</div>
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
